body{
	background-color: silver;
	margin: 0;
	padding: 0;
	font-family: Arial;
	background-image: url(../img/background.png);
}

#header{
	background-color: white;
	padding: 10px;
	min-height: 80px;
	width: 100%;
}

#header .menu a{
	text-decoration: none;
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding-right: 30px;
}

#logo{
	float: left;
	height: 75px;
}

.menu{
	margin-top: 27px;
	padding-left: 30px;
	font-size: 17pt;
	text-transform: uppercase;
	float: left;
}

.menu .lurl{
	position: absolute;
	right: 20px;
	top: 37px;
}

.daghap{
	border: 1px solid silver;
	width: 90%;
	padding: 20px;
	overflow: hidden;
	cursor: pointer;
	height: 220px;
}

/* Content */
#wrapper{
	width: 780px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
	overflow:hidden;
}

#footer{
	background-color: white;
	border-top: 10px solid rgb(184,220,158);
	padding: 20px;
	min-height: 120px;
}

#footer a{ padding-left: 20px;}

/* Bestellijst */
.bleft{
	width: 60%;
	background-color: white;
	padding: 20px;
}

.bright{
	width: 20%;
	background-color: white;
	padding: 20px;
}

#drinklist{
	width: 100%;
	padding: 0;
	margin: 0;
}

#drinklist li{
	list-style-type: none;
}

#drinklist li a{
	text-decoration: none;
	color: grey;
	cursor: pointer;
}


#statusform{
	display: none;
}

/* Misc */

.big-btn{
	padding: 20px;
	border: 1px solid black;
	width: auto;
	max-width: 100px;
	text-align: center;
	cursor: pointer;
}

.error{
	background-color: rgb(245, 112, 112);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	color: rgb(58, 48, 48);
}

.floatr{ float: right;}
.floatl{ float: left;}

.striped-table{
	width: 100%;
}

.striped-table tr:nth-child(even) {
  background-color: silver;
}

.striped-table tr:nth-child(odd) {
  background-color: white;
}

.striped-table tr:first-child{
	background-color: gray;
	font-weight: bold;
}

input[type=text], input[type=password], input[type=email]{
	width: 100%;
	height: 35px;
	font-size: 20px;
}